<web-app>

    <listener>
        <listener-class>net.vicp.biggee.java.sys.BluePrint</listener-class>
    </listener>

    <servlet>
        <servlet-name>NakedBoot_Upload</servlet-name>
        <servlet-class>net.vicp.biggee.kotlin.net.servlet.UploadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>NakedBoot_Upload</servlet-name>
        <url-pattern>/globalServlet/upload</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NakedBoot_WarsMan</servlet-name>
        <servlet-class>net.vicp.biggee.kotlin.net.servlet.WarsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>NakedBoot_WarsMan</servlet-name>
        <url-pattern>/globalServlet/warManager</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NakedBoot_JarExec</servlet-name>
        <servlet-class>net.vicp.biggee.kotlin.net.servlet.JarServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>NakedBoot_JarExec</servlet-name>
        <url-pattern>/globalServlet/JarExec</url-pattern>
    </servlet-mapping>

</web-app>